/* ==============================================
=body
============================================== */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: var(--fontsize-base);
}
