/* ==============================================
=fonts
============================================== */

@font-face {
  font-family: "General Sans";
  src: url("../fonts/generalsans-variable.woff2") format("woff2-variations");
  src: url("../fonts/generalsans-variable.woff2") format("woff2")
    tech("variations");
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/generalsans-italic-variable.woff2")
    format("woff2-variations");
  src: url("../fonts/generalsans-italic-variable.woff2") format("woff2")
    tech("variations");
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dmsans-variable.woff2") format("woff2-variations");
  src: url("../fonts/dmsans-variable.woff2") format("woff2") tech("variations");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dmsans-italic-variable.woff2") format("woff2-variations");
  src: url("../fonts/dmsans-italic-variable.woff2") format("woff2")
    tech("variations");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}
