/* ==============================================
=siteheader
============================================== */

.c-siteheader {
  padding-block: 24px;

  @media (width >= 750px) {
    padding-block: clamp(30px, 1rem + 3vi, 48px);
  }
}

.c-siteheader__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-siteheader__logo {
  margin: 0;
  margin-inline-end: auto;

  & > a {
    display: block;
  }
}

.c-siteheader__logo img {
  block-size: 18px;
  inline-size: auto;

  @media (width >= 750px) {
    block-size: auto;
  }
}

.c-siteheader__nav {
  display: none;
  @media (width >= 750px) {
    display: block;
  }
}

.c-siteheader__navlink {
  display: block;
  margin: 0;

  @media (width >= 750px) {
    display: none;
  }
}

.c-siteheader__navlink a,
.c-siteheader__navlink svg {
  display: block;
}
