/* ==============================================
=blog card
============================================== */

.c-blogcard {
  display: block;
}

.c-blogcard--sticky {
  @media (width>= 750px) {
    position: sticky;
    inset-block-start: 24px;
  }
}

.c-blogcard--bigtitle {
  .c-blogcard__title {
    font-size: var(--fontsize-h4);
    line-height: 1.32;
  }
}

.c-blogcard__media {
  margin-block-end: 18px;
}

.c-blogcard__title {
  font-weight: 500;
  font-size: var(--fontsize-lg);
  line-height: 1.32;
  font-family: var(--fontstack-alt);
  color: var(--color-text-primary);
  margin-block-end: 12px;
  text-wrap: balance;

  & > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-out;
  }

  & > a:hover,
  & > a:focus {
    color: var(--color-accent);
  }
}

.c-blogcard__date {
  font-weight: 400;
  font-size: var(--fontsize-sm);
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--color-text-secondary);
}
