/* ==============================================
=footer title
============================================== */

.c-footertitle {
  --footertitle-color: var(--color-gray-500);

  font-weight: 500;
  font-size: var(--fontsize-base);
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  color: var(--footertitle-color);
  text-transform: uppercase;
  margin-block-end: 0.75em;
}
