/* ==============================================
=footer nav
============================================== */

.c-footernav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.c-footernav__item {
  line-height: 1.2;
}

.c-footernav__link {
  display: inline-block;
  font-size: var(--fontsize-sm);
  padding-block: 3px;
  line-height: 1.2;
  color: var(--color-white);
  text-decoration: none;

  transition: color 0.1s ease-out;

  &:hover,
  &:focus {
    color: var(--color-accent-light);
    text-decoration: none;
  }
}
