/* ==============================================
=footer title
============================================== */

.c-footertitle {
  font-weight: 500;
  font-size: var(--fontsize-sm);
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  color: var(--color-gray-500);
  text-transform: uppercase;
  margin-block-end: 0.75em;
}
