/* ==============================================
=mobilenav
============================================== */

@keyframes menuLinksAppear {
  from {
    translate: 0 30px;
  }
}

.c-mobilenav {
  --mobilenav-color: var(--color-white);

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 6px;
}

.c-mobilenav__item {
  overflow: hidden;
}

.c-mobilenav__link {
  display: block;
  font-weight: 500;
  font-size: var(--fontsize-xl);
  color: var(--mobilenav-color);
  font-family: var(--fontstack-alt);
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--mobilenav-color);
    text-decoration: none;
  }
}

.is-open .c-mobilenav__link {
  animation: menuLinksAppear 0.2s calc(0.1s + var(--delay, 0) * 0.1s) ease-out both;
}
