/* ==============================================
=blogpost
============================================== */

.c-blogpost {
  display: block;
}

.c-blogpost__header {
  max-width: 820px;
  margin-block-end: clamp(24px, 0.964rem + 2.679vi, 54px);
}

.c-blogpost__media {
  margin-block-end: clamp(24px, 0.964rem + 2.679vi, 54px);
}

.c-blogpost__date {
  font-weight: 400;
  font-size: var(--fontsize-xs);
  margin-block-end: 6px;
  color: var(--color-text-secondary);
  text-transform: uppercase;
}

.c-blogpost__title {
  font-weight: 400;
  font-size: var(--fontsize-h1);
  line-height: 1.2;
  margin-block-end: 0;
  color: var(--color-text-primary);
}

.c-blogpost__content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 24px;

  @media (width >= 750px) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  & > div {
    @media (width >= 750px) {
      grid-column: 3 / span 9;
    }

    @media (width >= 1024px) {
      grid-column: 5 / span 6;
    }
  }
}
