/* ==============================================
=mainnav
============================================== */

.c-mainnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;

  @media (width >= 750px) {
    gap: 36px;
  }
}

.c-mainnav__link {
  font-weight: 480;
  font-size: var(--fontsize-sm);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-primary);

  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: var(--color-accent);
    text-decoration: none;
  }
}
