/* ==============================================
=mobilemenu
============================================== */

@keyframes menuAppear {
  from {
    opacity: 0;
  }
}

.c-mobilemenu {
  --mobilemenu-bkg: var(--color-gray-100);
  --mobilemenu-color: var(--color-white);
  --mobilemenu-inline-padding: 18px;
  --mobilemenu-block-padding: 24px;

  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--mobilemenu-bkg);

  padding-block: var(--mobilemenu-block-padding);
  padding-inline: var(--mobilemenu-inline-padding);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.c-mobilemenu__actions {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 3px;
}

.c-mobilemenu__actions a {
  display: block;
}

.c-mobilemenu__actions svg {
  display: block;
}

.c-mobilemenu__close {
  font-weight: 400;
  font-size: var(--fontsize-base);
  line-height: 1.2;
  font-family: var(--fontstack-alt);

  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--mobilemenu-color);
}

.c-mobilemenu__main {
  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* ==============================================
=mobilemenu visibility
============================================== */

.c-mobilemenu:not(.is-open) {
  display: none;
}

.c-mobilemenu.is-open {
  display: flex;
  animation: menuAppear 0.2s ease-out;

  @media (width >= 750px) {
    display: none;
  }
}
