/* ==============================================
=titles
============================================== */

:is(.c-h1, .c-h2, .c-h3, .c-h4, .c-h5, .c-h6) {
  color: var(--color-text-primary);
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  margin-block-end: 0.9em;
}

/* ==============================================
=page title
============================================== */

.c-pagetitle {
  font-weight: 500;
  font-size: clamp(41/16 * 1rem, 2.116rem + 2.232vi, 66/16 * 1rem);
  line-height: 1.2;
  color: var(--color-text-primary);
  font-family: var(--fontstack-alt);
  margin-block-end: 0.75em;
}

/* ==============================================
=small title
============================================== */

.c-smalltitle {
  font-weight: 500;
  font-size: var(--fontsize-base);
  color: var(--color-text-primary);
  text-transform: uppercase;
  font-family: var(--fontstack-alt);
  margin-block-end: 1.5em;
}
