/* ==============================================
=siteheader
============================================== */

.c-siteheader {
  padding-block: clamp(30px, 1.554rem + 1.607vi, 48px);
}

.c-siteheader__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;

  @media (width >= 750px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.c-siteheader__logo {
  margin: 0 auto 0 0;
}
