/* ==============================================
=colors
============================================== */

:root {
  --color-purple: hsl(278, 82%, 45%);
  --color-purple-dark: hsl(278, 82%, 30%);
  --color-purple-light: hsl(278, 82%, 72%);
  --color-purple-washed: hsl(278, 82%, 95%);

  --color-gray-100: hsl(270, 3%, 6%);
  --color-gray-200: hsl(270, 3%, 12%);
  --color-gray-300: hsl(270, 3%, 30%);
  --color-gray-400: hsl(270, 3%, 48%);
  --color-gray-500: hsl(270, 3%, 70%);
  --color-gray-600: hsl(270, 3%, 80%);
  --color-gray-700: hsl(270, 3%, 90%);
  --color-gray-800: hsl(270, 3%, 96%);

  --color-white: #ffffff;

  --color-background-primary: var(--color-white);
  --color-text-primary: var(--color-gray-100);
  --color-text-secondary: var(--color-gray-300);

  --color-border-light: rgba(0, 0, 0, 0.12);

  --color-accent: var(--color-purple);
  --color-accent-light: var(--color-purple-light);
  --color-accent-dark: var(--color-purple-dark);
  --color-accent-washed: var(--color-purple-washed);
}
