---
permalink: blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1 }}{% endif %}/index.html
pagination: 
  data: collections.blogposts
  size: 8
  alias: posts
---

{% extends "layouts/base.njk" %}

{% from "macros/blogcard.njk" import blogcard %}
{% from "macros/paginate.njk" import paginate %}

{% set metaTitle = "Bits and Bobs: the blog" %}
{% set metaDescription = "Various blogposts and perspectives on AI" %}
{% set currentSection = "blog" %}

{% block content %}
  
  <div class="c-section">
    <div class="l-container">

      <h1 class="c-pagetitle">Archives</h1>

      {% for item in posts %}
        {% if loop.first %}<ul class="l-grid l-grid--2cols-md l-grid--4cols-lg">{% endif %}
        <li>
          {{ blogcard({
            url: item.url,
            title: item.data.title,
            date: item.date,
            img: item.data.image,
            imgAlt: item.data.imageAlt
          }) }}
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
      
      {{ paginate({
        totalPages: pagination.pages | length,
        prevHref: pagination.href.previous,
        nextHref: pagination.href.next
      }) }}

    </div>
  </div>

{% endblock %}