---
permalink: "blog/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
pagination: 
  data: collections.blogposts
  size: 4
  alias: posts
---

{% extends "layouts/base.njk" %}

{% from "macros/blogcard.njk" import blogcard %}
{% from "macros/paginate.njk" import paginate %}

{% block content %}
  <div class="c-section">
    <div class="l-container">

      <h1 class="c-pagetitle">Archives</h1>
      {% for item in posts %}
        {% if loop.first %}<ul class="l-grid l-grid--2cols-sm l-grid--4cols-lg">{% endif %}
          <li>
            {{ blogcard({
              url: item.url,
              title: item.data.title,
              date: item.date,
              img: item.data.image,
              imgAlt: item.data.imageAlt
            }) }}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {{ paginate({
        nextHref: pagination.href.next,
        prevHref: pagination.href.previous,
        totalPages: pagination.pages | length,
        currentPage: pagination.pageNumber + 1
      }) }}

    </div>
  </div>
{% endblock %}