<div class="c-mobilemenu js-mobilemenu">
  <div class="c-mobilemenu__actions">
    <button 
      class="c-mobilemenu__close  js-menutrigger"
      aria-label="Open navigation menu">
        {% include "svg/icon_close.svg" %}
    </button>
  </div>
  <div class="c-mobilemenu__main">
    <nav>
      {% for item in mainnav %}
        {% set currentClass = "" %}
        {% set currentAria = "" %}
        {% if item.navTrigger == currentSection %}
          {% set currentClass = "is-active" %}
          {% set currentAria = 'current="page"' %}
        {% endif %}

        {% if loop.first %}<ul class="c-mobilenav">{% endif %}
          <li class="c-mobilenav__item">
            <a 
              href="{{ item.navUrl }}"
              style="--delay: {{ loop.index }}"
              class="c-mobilenav__link {{ currentClass }}" {{ currentAria }}>
                {{ item.navLabel }}
            </a>
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </nav>
  </div>
</div>