<footer class="c-sitefooter">

  <div class="l-container">
    <div class="c-sitefooter__main" id="footernav">
      <div class="l-grid  l-grid--2cols-sm  l-grid--4cols-md">
        <div>
          <nav>
            <h2 class="c-footertitle">Company</h2>
            <ul class="c-footernav">
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Home</a>
              </li>
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">About</a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <nav>
            <h2 class="c-footertitle">Blog</h2>
            <ul class="c-footernav">
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Archives</a>
              </li>
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Index</a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <nav>
            <h2 class="c-footertitle">Connect</h2>
            <ul class="c-footernav">
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Mastodon</a>
              </li>
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Youtube</a>
              </li>
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Instagram</a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <nav>
            <h2 class="c-footertitle">Legal</h2>
            <ul class="c-footernav">
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Privacy</a>
              </li>
              <li class="c-footernav__item">
                <a class="c-footernav__link" href="#">Terms of service</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="c-sitefooter__logo" aria-hidden="true">
      <img 
        src="/assets/img/biglogo.svg"
        class="o-fluidimg"
        alt="Bits and Bobs"
        eleventy:ignore />
    </div>
    <div class="c-sitefooter__end">
      <p class="c-sitefooter__copyright">&copy; La Casa Productions</p>
    </div>
  </div>

</footer>