<header class="c-siteheader">
  <div class="l-container">
    <div class="c-siteheader__content">
      <p class="c-siteheader__logo">
        <a href="/">
          <img
            src="/assets/img/logo.svg"
            alt="Logo Bits&amp;Bobs: go to homepage"
            eleventy:ignore>
        </a>
      </p>
      <div class="c-siteheader__nav">
        <nav aria-label="Main Navigation">
          {% for item in mainnav %}
            {% set currentClass = "" %}
            {% set currentAria = "" %}
            {% if item.navTrigger == currentSection %}
              {% set currentClass = "is-active" %}
              {% set currentAria = 'current="page"' %}
            {% endif %}
            {% if loop.first %}<ul class="c-mainnav">{% endif %}
              <li class="c-mainnav__item">
                <a 
                  href="{{ item.navUrl }}"
                  class="c-mainnav__link {{ currentClass }}" {{ currentAria|safe }}>
                    {{ item.navLabel }}
                </a>
              </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </nav>
      </div>
      <p class="c-siteheader__navlink">
        <a 
          class="c-hamburgerlink js-menutrigger"
          aria-label="Mobile navigation" 
          href="#footernav">
          {% include "svg/icon_hamburger.svg" %}
        </a>
      </p>
    </div>
  </div>
  {% include "partials/mobilemenu.njk" %}
</header>